.button{
  padding: .8rem 2rem;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  font-weight: bold;
  margin-right: 1rem;

}
.button:hover{
  opacity: .8;
  border-color: #646cff;
}
.button.active{
  background-color: #3e6ae1;
  color: #fff;
}
.button:disabled{
  cursor: not-allowed;
  border-color: rgb(46, 25, 25);
  /* background-color: rgb(229, 24, 24); */
}