.button{
  padding: .8rem 2rem;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  font-weight: bold;
  margin-right: 1rem;

}
/* .button:hover{
  opacity: .8;
  border-color: #646cff;
} */
.button.active{
  background-color: #3e6ae1;
  color: #fff;
}
.button:disabled{
  cursor: not-allowed;
  border-color: rgb(46, 25, 25);
  /* background-color: rgb(229, 24, 24); */
}
.button:hover {
  animation: 0.2s ease-out 0s 1 normal none running hbBjdE;
  opacity: .8;
  border-color: #646cff;
}
@keyframes hbBjdE{
0% {
  transform: scale(1);
}

50% {
  transform: scale(1.03);
}

100% {
  transform: scale(1);
}
}
